.App {
  background-color: rgba(196, 206, 248, 0.754);
  height: 100vh;
}

/* Common styles for button */
.btn {
  border: none;
  outline: none;
}

/* Header stylings */
.header,
.input_div {
  background: blueviolet;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}
.header,
.input_div,
.todoLists {
  width: 30%;
  margin: auto;
  border-radius: 0.3rem;
}
.header_btn {
  font-size: xxx-large;
  color: #ffffff;
  background: transparent;
  width: 10%;
}
.header_text {
  text-align: center;
  width: 90%;
}
.header_btn:hover {
  cursor: pointer;
}

/* Stylings for header input div */
.input_div,
.todoLists {
  margin-top: 0.5rem;
}
.input_div > input[type="text"] {
  border: none;
  outline: none;
  width: 80%;
  padding: 0.7rem;
  font-size: large;
  background-color: rgb(242, 236, 247);
}
.input_div > button {
  width: 20%;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: large;
  color: blueviolet;
}
.input_div > button:hover {
  cursor: pointer;
  color: blue;
}

/* Stylings for todoLists component */
.todoLists {
  background-color: rgba(137, 43, 226, 0.215);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  display: flex;
}
.delBtn {
  font-size: xx-large;
  color: rgb(189, 59, 12);
}
.task_text {
  color: rgba(0, 0, 0, 0.873);
}
.taskComplete {
  text-decoration: line-through;
  text-decoration-color: #ffffff;
}
